// TODO: navigation Bar *******
.header-bg {
  padding: 0.8rem 2.4rem;
  position: relative;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 0 0,#e7e4dc,#9d9e86);
  // background-image: url("../../assets/images/foto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new--background {
  background: #999a81;
  padding: 0.8rem 2.4rem;
  height: 100vh;
  transition: background 0.3s ease-in;
}

nav {
  width: 95%;
  margin: auto;
  padding: 2rem 0rem 0rem ;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list:nth-child(1) {
  margin: 5rem 0;
}

nav > a {
  color: #2c2d2b;
}

.nav-logo > a{
  color: #000;
  font-weight: bold;
  font-size: 2.4rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__item {
  padding: 0.5rem;
}

.nav__item > a {
  position: relative;
  color: #000000;
  font-weight: 500;
  font-size: 3.5rem;
  transition: color 0.5s;
}



.nav__item > a:hover:after{
  width: 0%;
}

.fade {
 opacity: 0;
 pointer-events: none;

}

.nav-menu-items {
  height: 35%;
  width: 88%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  left: 2.4rem;
  border-bottom: 1.5px solid rgba(93, 93, 93, 0.344);
}

.toggler {
  position: fixed;
  top: 32px;
  right: 30px;
  width: 25px;
}

.line:nth-child(1) {
  top: 0px;
}

.line:nth-child(2) {
  top: 6px;
}

.line:nth-child(3) {
  top: 12px;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #000;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.nav__toggler.active .line:nth-child(1) {
  top: 6px;
}

.nav__toggler.active .line:nth-child(2) {
  opacity: 0;
}

.nav__toggler.active .line:nth-child(3) {
  top: 6px;
}

.anfragen-btn {
  display: none;
}

.booking--btn {
  background-color: #efae35;
  padding: 15px 29px;
  color: #24160b;
  font-size: 1.1rem;
  line-height: 1.4em;
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  border-radius: 10px;
  border: none;
  letter-spacing: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    color: #abaf6e;
    box-shadow: 0 0 0 3px #a6a791;
    background-color: #171714;
  }
}

// Desktop Version

@media screen and (min-width: 768px) {

  nav {
   justify-content: space-between;
   width: 80%;
   margin: auto;
  }

  .nav-menu-items {
    opacity: 1;
    display: flex;
    width: auto;
    position: static;
    border-bottom: none;
    
  }

  .nav__item > a:after {
    content: "";
    position: absolute;
    background-color: #111;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -45%;
    transition: 0.3s;
  }

  .nav__item > a:hover:after{
    width: 100%;
  }

  .list.fade {
    opacity: 1;
    pointer-events: all;
  }

  .nav__item > a {
    font-size: 1.5rem;
    margin: 0 1.5rem;
  }

  .nav__toggler {
    display: none;
  }

  .anfragen-btn {
    display: block;
  }

  .nav__list {
   width: 100%;
   display: flex;
   flex-direction: row;
   font-size: 1.4rem;
   letter-spacing: 0.2rem; 
  }

 
}

